extends layout.pug

block content 
  ul
    each post of posts 
      li
        a(href="/post" + post.id)= post.title
        | #{" by "}
        span= post.postedBy
  //   <ul>
  //     ${
  //       pagePosts.map(post => {
  //         return `<li><a href="/post/${escape(post.id)}">${escape(post.title)}</a> by <span>${post.postedBy}</span></li>`
  //       }).join('\n')
  //     }
  //   </ul>

  p 
    a(href=`/?page=${page - 1}`) Previous
    |
    |
    a(href=`/?page=${page + 1}`) Next

  //   <p>
  //     <a href="/?page=${page - 1}"">Previous</a>
  //     <a href="/?page=${page + 1}"">Next</a>
  //   </p>
  // 


