extends layout.pug

block content 
  h2= post.title
  fieldset= post.content

  each comment in comments
    fieldset
      legend= comment.commentBy
      p=  comment.comment
  
  if isLogin
    form(action=`/comment/post/${postId}` method="POST")
      h4 Comment
      div: textarea(name="comment")
      button discuss
  else 
    p 
      | If you want to discuss, please 
      a(href='/login') login


//- app.get('/post/:id', (req, res, next) => {
//-   var postId = req.params.id;
//-   var post = posts.find(it => it.id == postId);
//-   if (post) {
//-     var postComments = comments.filter(it => it.postId == postId);
//-     res.setHeader('Content-Type', 'text/html; charset=UTF-8');
//-     res.end(`
//-     <h1>BBS</h1>
//-     <div>
//-       ${
//-         req.signedCookies.loginUser ?
//-           `
//-             <a href="/logout">logout</a>
//-             <a href="/post">post</a>
//-           ` : `
//-             <a href="/login">login</a>
//-             <a href="/register">register</a>
//-           `
//-       }
//-     </div>
//-       <h2>${escape(post.title)}</h2>
//-       <fieldset>${escape(post.content)}</fieldset>
//-       <hr>
//-       ${
//-         postComments.map(it => {
//-           return `
//-             <fieldset>
//-               <legend>${escape(it.commentBy)}</legend>
//-               <p>${escape(it.comment)}</p>
//-             </fieldset>
//-           `
//-         }).join('\n')
//-       }

//-       ${
//-         req.isLogin ?
//-           `
//-             <form action="/comment/post/${postId}" method="POST">
//-               <h4>Comment</h4>
//-               <div><textarea name="comment"></textarea></div>
//-               <button>discuss</button>
//-             </form>
//-           ` : `<p>If you want to discuss, please <a href='/login'>login</a>!</p>`
//-       }   
//-     `)
//-   } else {
//-     res.end('404 post not found');
//-   }
//- })
